// set default styles
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

// app styles
$app-background: #000;
$app-main-color: #fff;

@font-face {
  font-family: 'Montserrat-Medium';
  src: local('Montserrat-Medium'), url(./assets/fonts/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat-Regular'), url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat-Bold'), url(./assets/fonts/Montserrat-Bold.ttf) format('truetype');
}

body {
  background-color: $app-background;
}

@mixin button($width, $height, $text-size, $border-radius, $background-color: $app-main-color) {
  width: $width;
  height: $height;
  font-size: $text-size;
  border-radius: $border-radius;
  font-family: Montserrat-Bold, serif;
  background-color: $background-color;
  cursor: pointer;
  outline: none;
}

.start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;

  .start-button {
    @include button(280px, 100px, 35px, 25px);
  }
}

.app-container {
  display: flex;
  flex-direction: column;
  user-select: none;

  .header {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-bottom: $app-main-color solid 1px;

    .header-text {
      color: $app-main-color;
      font-family: Montserrat-Bold, Montserrat-Medium, monospace;
      font-size: 40px;
    }

    .header-icon {
      position: absolute;
      left: 15px;
    }
  }

  .game-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .grid {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      background-color: $app-background;
      width: 500px;
      height: 500px;
      padding: 10px;

      .cell-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $app-main-color;
        width: 150px;
        height: 150px;
        margin: 3px;
        font-size: 130px;
        font-family: Montserrat-Bold, Montserrat-Medium, serif ;
        cursor: pointer;
      }

      .winning-combination-cell-item {
        color: #dc143c;
      }
    }
  }

  .additional-text {
    font-family: Montserrat-Medium, monospace;
    color: $app-main-color;
    font-size: 30px;
    text-align: center;
  }

  .restart-button {
    @include button(170px, 60px, 20px, 15px);
  }
}
